*{margin: 0;padding: 0;}
	
body{font-size: 12px;background: #F9F9F9;}
	
.left{float: left;}
	
ul,ol{list-style: none;}
	
#header,#nav,#navtit,#banner,#main1,#main2,#main3,.mainnav,.mainbanner,#bot{width: 1200px;margin: 0 auto;}
img{display:inline-block;border: none;}



/*header========================================================================*/
.hea{width: 100%;height: 34px;background: #FAFAFA ;border-bottom: 1px solid silver;}
#header{height: 35px;background: #FAFAFA;}	
.headerleft{width:628px;height: 35px;}
.songhuo,.pic{padding-top: 8px;height: 27px;}
.songhuo .sel{height: 20px;}
.login{width: 110px;height:27px;padding-top: 8px;padding-left: 7px;background: #FFF;}
.loginbtn{border: none;background: #fff;color: blue;}	
.headerright{width: 572px;height: 35px;}
.list1 li{float: left;margin-top: 12px;border-right: 1px solid #ccc;}
.list1 li a{padding:0 6px 0 15px;float: left;}
.list1 li select{width: 11px;height: 11px;background: url(img/select.png);border: none;float: left;margin-top: 3px;margin-right: 2px;}
.zhangshang{margin-right: 6px;}
.headerright .weibo,.headerright .weixin{margin-top: 12px;}
.weibo{margin-right: 6px;}
.list1 .lii{border-right: none;}
/*navtit========================================================================*/
#navtit{height: 144px;overflow: hidden;}
.navleft{width: 210px;height: 144px;}
.suoyou{display:block;line-height: 34px;width: 169px;padding-left: 41px;color: #fff;font-weight: 900;background: url(img/bg1.png);}
.navcenter{width: 784px;height: 109px;padding-top: 35px;overflow: hidden;}
.nac1{height: 86px;padding-left: 108px;}
.sel-1{width: 69px;height: 32px;}
.txt1{width: 356px;height: 32px;border: none;}
.sousou{width: 98px;height: 32px;line-height: 28px;text-align: center;color: #fff;font-weight: 900;background: #FF3C3C;}
.kuang{border: 2px solid #FF3C3C;width: 523px;height: 32px;overflow: hidden;}
.list2{ width: 523px;height: 48px;padding-top: 6px;}
.list2 li{float: left;margin-right: 11px;color: #999999;}
.navi{height: 23px;}
.navi li{float: left;}
.navi li a{padding: 0 30px 0 17px;}
.navi li a:hover{color: #FF3C3C;}
/*navigation========================================================================*/
#nav{height:61px;}
/*banner========================================================================*/
#bgbanner{width: 100%;height: 398px;background: #C70909;border-top: 2px solid #FD3F49;}
#banner{height:398px;background: #ADFF2F;}
.banleft{width:168px;height: 384px;padding: 14px 0 0 42px;overflow: hidden;background:url(img/listleft.png) ;}
.listleft li{height:33px ;width: 168px;}
.listleft li a{color:#fff;}
.bancenter{width: 751px;height: 398px;}
.banright{width: 239px;height: 385px;padding: 13px 0 0 0;background: #fff;overflow: hidden;}
.kuaixun{width: 215px;height: 22px;border-bottom: 1px dotted #000000;padding: 0 12px;}
.zhuanti{width: 215px;height: 188px;padding:13px 12px 0 12px;}
.zhuanti li{height: 24px;}
.yihao{padding-bottom: 8px;height: 18px;}
.zhuanti li a:hover{color: #E60012;}
.kuangkuang{background: url(img/bgg.png);width:240px ;height:161px;}
.kuaier{width: 59px;height: 22px;padding: 57px 0 0 20px;}
/*main1========================================================================*/
#main1{height:439px;overflow: hidden;background: #fff;}
.main1-1{width: 240px;height: 400px;margin-top: 20px;margin-bottom: 22px;}
.main1-11{background: url(img/main1-1.png);}
.jinkou{width: 240px;height: 182px;border-bottom:1px dotted #ccc;padding-top: 17px;}
.m1{width: 240px;height: 28px;text-align: center;}
.m2{width: 240px;height: 23px;text-align: center;}
.m3{width: 240px;height: 129px;text-align: center;}
.main1-12{background: #FFE3E5;}
.techan{width: 240px;height: 182px;padding-top: 17px;}
.aa1{width: 189px;height:31px ;text-align: center;display: block;font-weight: 900;border-bottom: 1px dotted #000;padding-top:19px; margin: 0 26px 0 25px;}
.aa2{width:189px;height: 24px;display: block;padding: 20px 26px 0 25px;}
.aa3{width: 183px;height: 23px;background: #FF383B;line-height: 23px;color: #fff;margin-left: 25px;}
/*main2========================================================================*/
#main2{height:61px;}
/*main3========================================================================*/
#main3{height:413px;background: #fff;}
.mainnav{height: 24px;border-bottom: 2px solid #FF4500;padding-top: 28px;background: #F9F9F9;}
.maa1{width: 832px;height: 24px;font-size: 16px;color: #FE4500;}
.maa2{width: 368px;height: 24px;}
.maa2 li{float: left;}	
.mainbanner{height: 359px;}
.maa2 li a{padding: 0 6px;border-right: 1px solid #ccc;}
.maa2 ul li .haigou{border-right: none;}
.mb1,.mb2,.mb3,.mb4,.mb5{height:359px ;}
.mc1,.mc2,.mc3,.mc4,.mc5{height:541px ;}
.mb1{width: 210px;}
.mb1-1{height: 120px;width: 195px;padding: 10px 0 0 15px;}
.mb1-2{height: 229px;width: 210px;}
.mb1-1-1 li{width: 84px;height: 32px;border-bottom: 1px dotted #ccc;margin-left: 10px;float: left;}
.mb1-1-1 li a{padding: 10px 0 0 5px;display: block;}
.mb1-2-1{width: 210px;height: 53px;}
.mb1-2-2{width: 210px;height: 196px;}
.mbdl{width: 210px;text-align: center;margin-top: 21px;}
.mbdl dt{font-weight: 900;color: #FF4500;}
.mbdl dd{font-size:11px;margin-top: 9px;}
.mbb{text-align: center;}
.mb2{width: 329px;}
.mb3,.mb4,.mb5{width: 220px;}
.mb4{width:218px;border-left: 1px solid #ccc;border-right: 1px solid #ccc;}
.mb3-2{border-bottom: 1px solid #ccc;}
.mb3-1{width: 220px;height: 180px;}
.mb3-1 dl{height: 50px;text-align: center;padding-top: 23px;}
.mb3-1 dd{padding-top: 8px;}
.mb4-1{height: 63px;}
.mb44{height: 212;text-align: center;}
.mb33{height: 105px;width: 220px;text-align: center;}
/*main4==========================================================================*/
#main4{width: 1200px;height: 180px;margin: 0 auto;background: #fff;overflow: hidden;}
.mb3-11{width: 210px;border-top: 1px solid #ccc;border-right: 1px solid #ccc;}
.mb3-12{width: 329px;text-align: center;border-top: 1px solid #ccc;border-right: 1px solid #ccc;}
.mb333{width: 329px;text-align: center;}
.mb3-13,.mb3-14,.mb3-15{width: 218px;border-top: 1px solid #ccc;border-right: 1px solid #ccc;}
.mb3-15{border-right:none;}
/*foot=======================================================================*/
.foot{width: 100%;height: 489px;background: #fff;}
.datu1{width: 329px;}
.bot-main{margin:27px auto;height: 69px;}
.bot-mains{margin-left: 45px;width: 250px;height: 69px;}
.bot-mains span{line-height: 30px;display: block;}
.bot-mains .b{font-weight: 900;}
.links{padding:26px 0;border-top: 1px solid silver;height: 150px;}
.links-1{margin: 0 45px;}
.links-1 li{margin-top: 10px;}
#bot .bot-nav{height: 12px;margin:17px auto;}
.bot-nav1{padding-left: 70px;text-align: center;}
.bot-nav2{padding-left: 150px;text-align: center;}
.bot-nav li{float: left;border-right: 1px solid slategray;padding: 0 10px;}
.bot-nav .border0{border: 0;}
#bot p{padding:0 2px;margin-left:440px;}
.erweima{margin-left: 45px;}


















