header {
	width: 100%;
	height: 37px;
	line-height: 38px;
	text-align: center;
	background: #0f91c5;
	color: #fff;
}

.form {
	margin: 0 15px;
}

.form input {
	width: 100%;
	height: 33px;
	line-height: 33px;
	border-bottom: 1px solid #808080;
	margin-top: 27px;
	font-size: 14px;
}

.form input:first-child {
	margin-top: 9px;
}

.form .links {
	width: 100%;
	height: 65px;
	line-height: 65px;
}

.form .links a {
	color: #61B7DA;
	text-decoration: underline;
	font-size: 12px;
}

.form .links .pwd {
	float: right;
}

.form button {
	width: 100%;
	height: 38px;
	line-height: 38px;
	text-align: center;
	color: #FFFFFF;
	font-size: 17px;
	background: #0F91C5;
	border: none;
	border-radius: 3px;
}

.form .btn2 {
	width: 100px;
	height: 33px;
	line-height: 33px;
	font-size: 14px;
	float: right;
	z-index: 9999;
	position: absolute;
	top: 106px;right: 16px;
}

.form1 .btn1 {
	margin-top: 45px;
	width: 100%;
	height: 38px;
	line-height: 38px;
	text-align: center;
	color: #FFFFFF;
	font-size: 17px;
	background: #0F91C5;
	border: none;
	border-radius: 3px;
	
}

.form1 .btn3 {
	margin-top: 35px;
	width: 100%;
	height: 38px;
	line-height: 38px;
	text-align: center;
	color: #FFFFFF;
	font-size: 17px;
	background: #0F91C5;
	border: none;
	border-radius: 3px;
}

@font-face {
	font-family: "iconfont";
	src: url('../font/iconfont.eot');
	/* IE9*/
	src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../font/iconfont.woff') format('woff'), /* chrome, firefox */
	url('../font/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
	url('../font/iconfont.svg#iconfont') format('svg');
	/* iOS 4.1- */
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}

.icon-iconfontgerenzhongxin30:before {
	content: "\e631";
}

.icon-iconcamero:before {
	content: "\e64c";
}

.icon-tuichu:before {
	content: "\e638";
}

.icon-home:before {
	content: "\e67c";
}

.icon-sousuo:before {
	content: "\f00d7";
}

.icon-camera:before {
	content: "\e60e";
}